@using System.Diagnostics
@model IEnumerable<ParkingSystem.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars in Parking</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Registration">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Registration">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Registration">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



@{
    if (Model.ToArray().Length > 0)
    {
            Stopwatch timer = Stopwatch.StartNew();

            await Task.Delay((TimeSpan)Model.First().RegisteredTime).ContinueWith(t=> Alert());
    }
}

@functions{
    public void Alert(){
        <script>alert("Less than 5 minutes parking time left!");</script>
    }
}